/*CSS for the main page*/
#head{
    margin-top: 0px;
}
body{
    margin: 0px;
    padding: 0%;
    margin-top: 0%;
    background-color: rgb(240, 222, 240);
}

nav h1{
    line-height: 120px;
    background-color: rgb(248, 248, 248);
    font-family: monospace;
    margin-bottom: 0px;
}
nav li{
    display: inline-flex;
    float: right;
    color: black;
    font-family: monospace;
    padding-right: 30px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 14px;
}
#logo{
    display: inline-flex;
    float: left;
    height: 100px;
    width: 18%;
    padding-top: 10px;
    padding-left: 10px;
}
li a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
li a:hover{
    border: solid 1px black;
    color:lightskyblue;
}
li a:active{
    border: solid 1px lightblue;
}
.checkbtn{
    font-size: 30px;
    color:black;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 853px){
    #logo{
        height: 80px;
        width: 25%;
    }
    nav ul li a{
        font-size: 14px;
    }
}
@media (max-width: 952px){
    .checkbtn{
        display: block;
    }
    li{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 105px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin-top: 15px;
        line-height: 30px;
    }
    nav li a{
        font-size: 18px;
    }
    #check:checked ~ li{
        left: 0;
    }
    li a:checked ~ li{
        left: -120%;
    }
}
.wrapper{
    background: url('images/carport6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin-top: 0px;
    padding-top: 0px;
}
.content h1{
    text-align: center;
    margin-top: 0px;
    font-size: 3em;
    font-weight: lighter;
    font-family: fantasy;
    color:rgb(240, 222, 240);
    
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color: rgb(44, 43, 43);
}
.content h3{
    text-align: center;
    margin-top: 0px;
    font-size: 2em;
    font-weight: lighter;
    font-family: fantasy;
    color:rgb(199, 171, 199);
}
p{
    /*For the footer*/
    font-family: monospace;
    color: white;
}
p a{
    /*Footer links*/
    text-decoration: none;
    color: white;
}

.about > div{
    background-color: rgb(238, 228, 88);
    
}
.about{
    display: flex;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#list{
    font-size: 18px;
}

#ourservice{
    text-align: center;
}
#row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
#row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 20px;
}
#col{
    flex-grow: 1;
    height: 100px;
    min-width:100px;
}
img #owner{
    background-size: cover;
}
#service{
    flex-grow: 1;
    height: 200px;
    min-width:100px;
    background-color: rgb(240, 157, 101);
    margin-top: 5px;
    border-radius: 12px;
    /*Text style*/
    text-align: center;
    font-family:cursive;

}
#footer{
    background-color: rgb(179, 164, 179);
}
#copyright{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: monospace;

}


/*Animationa starts here for the Index Page*/


/*Animation for welcome Text*/
#slogan{
    animation: text-shadow 3s ease-in-out infinite;
    line-height: 1;
}
#slogan:hover {
    animation-play-state: paused;
}

#welcome {
    animation: text-shadow 3s ease-in-out infinite;
    font-size: 3em;
    line-height: 1;
}

#welcome:hover {
    animation-play-state: paused;
}


@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #9dc4f0, 
            0 0 0 #696464, 
            0 0 0 #696464, 
            0 0 0 #9dc4f0;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #9dc4f0, 
            0 0.25em 0 #696464, 
            0 -0.125em 0 #696464, 
            0 -0.25em 0 #9dc4f0;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #9dc4f0, 
            0 -0.125em 0 #696464, 
            0 0.0625em 0 #696464, 
            0 0.125em 0 #9dc4f0;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #9dc4f0, 
            0 0.0625em 0 #696464, 
            0 -0.03125em 0 #696464, 
            0 -0.0625em 0 #9dc4f0;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #9dc4f0, 
            0 0 0 #696464, 
            0 0 0 #696464, 
            0 0 0 #9dc4f0;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}


/*Animations for service section*/

#service{
	background-color:rgb(115, 151, 151);
	animation-name: example;
	animation-duration: 4s;
	
  }
  
  @keyframes example {
	from {background-color: rgb(115, 151, 151);}
	to {background-color:rgb(109, 230, 109);}
  }


  /*Gallary styling starts here*/

  #gallary{
    flex-grow: 1;
    height: 200px;
    min-width:100px;
    margin-top: 5px;
    /*Text style*/
    text-align: center;
    font-family:cursive;

  }
  